<header>
</header>
<main>
  <section class="article">
    <div class="container main-card py-5" >
      <h1><%= @article.title%></h1>
      <div class="container article py-5">
        <p><%= @article.subtitle %> <br> <%= @article.content %></p>
        <p><small>Catégorie : <%= @article.category %></small></p>
      </div>
      <% if current_user == @article.user %>
      <%= link_to icon('fas', 'feather-pointed'), edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to icon('fas', 'trash-alt'), article_path(@article), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr?"}%>
      <% end %><br>
      <%= link_to '< Retour aux articles', articles_path %>
    </div>
  </section>
</main>
